* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main {
    margin: 10px;
}

#div_buttons {
    position: absolute;
    left: 40%;
    margin: 2%;
}

.button {
    border: none;
    color: white;
    background-color: rgb(114, 114, 114);
    border-radius: 5%;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

.button:active {
    background-color: rgb(92, 92, 92);
}

#canvas1, #canvas2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#canvas1 {
    border: solid 4px black;
}

#canvas2 {
    border: solid 2px red;
}

#players, #ball, #full-court, #half-court {
    display: none;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    inset: 0 0 0 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

